
    .harp-position {
      margin-top:450px;
      animation: harpslide 2s 1s forwards;
    }

    .ldfixed {
      width: 59px; 
      height: 55px;
      animation: fadeout 2s 1s forwards;
    }

    .ldedge {
      width: 175px;  
      height: 55px;
      animation: fadeout 2s 1s forwards;
    }

    .top-cover {
      width: 175px;
      height: 48px;
      animation: fadeout 2s 1s forwards;
    }

    .top-cover-center {
      animation: fadeout 2s 1s forwards;
    }

    .bottom-cover {
      width: 175px;
      height: 38px;
      animation: fadeout 2s 1s forwards;
    }

    .bottom-cover-center {
      animation: fadeout 2s 1s forwards;
    }

    .pers {
      height: 0px;
      transform: rotateX(90deg);
      animation: top_rp_perspective 2s 1s forwards;
    }

    .pers-front {
      display: flex;
      margin: auto;
      animation: top_rpf_perspective 2s 1s forwards;
    }

    .pers_neg {
      height: 0px;
      transform: rotateX(270deg);
      animation: bottom_rp_perspective 2s 1s forwards;
    }

    .pers_neg-front {
      margin: auto;
      animation: bottom_rpf_perspective 2s 1s forwards;
    }

    @keyframes fadeout {
      0%{
        opacity: 1;
      }
      100% {
        opacity:0;
      }
    }

    @keyframes harpslide {
      0%{
        margin-top:330px;
      }
      100% {
        margin-top:330px;
      }
    }

    @keyframes top_rp_perspective {
      0%{
        height: 120px;
        transform-origin: bottom;
        perspective-origin: bottom;
        transform: perspective(300px) rotateX(90deg) scale(0.90);
      }
      100% {
        height: 120px;
        transform-origin: bottom;
        perspective-origin: bottom;
        transform: translateY(-25px) perspective(300px) rotateX(-330deg) scale(0.95);
      }
    }

    @keyframes top_rpf_perspective {
      0%{
        transform-origin: top;
        perspective-origin: top;
        transform: perspective(300px) rotateX(0deg);
      }
      100% {
        transform-origin: top;
        perspective-origin: top;
        transform: perspective(300px) rotateX(-30deg);
      }
    }

    @keyframes bottom_rp_perspective {
      0%{
        height: 120px;
        transform-origin: top;
        perspective-origin: top;
        transform: perspective(300px) rotateX(270deg);
      }
      100% {
        height: 120px;
        transform-origin: top;
        perspective-origin: top;
        transform: translateY(-1px) perspective(300px) rotateX(330deg) scale(0.999);
      }
    }

    @keyframes bottom_rpf_perspective {
      0%{
        transform-origin: bottom;
        perspective-origin: bottom;
        transform: perspective(300px) rotateX(0deg);
      }
      100% {
        transform-origin: bottom;
        perspective-origin: bottom;
        transform: perspective(300px) rotateX(30deg);
      }
    }
